.Footer{
  height: 4rem;
  background-color: #dde1e6;

  .footer-text{
    font-size: 0.9rem;
    text-align: center;
  }

  .contacts{
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
  }
}
