.Header{
  height: 6rem;
  background-color: #c1e1f5;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .center-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .search-field{
      width: 70%;
      background-color: cornflowerblue;
      border-radius: 5px;
    }
  }
}
