.main-body {
  height: calc(100% - 10rem);

  .top-section {
    height: 3rem;
    background-color: #00a1ff;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .main-section {
    height: calc(100% - 3rem);
    background-color: #faf0e6;

    display: flex;
    justify-content: center;
    align-items: center;

    .card-container {
      display: flex;
      height: 70%;
      width: 80%;
      gap: 5%;

      .paper-name {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .main-body {
    height: fit-content;

    .card-container {
      flex-direction: column;
      gap: 2rem !important;
      margin: 2rem 0;

      .paper-name {
        border-radius: 10px;
        height: 20rem !important;
      }
    }
  }
}
