.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;

  .card-item {
    width: 50%;
    text-align: center;
    border: solid 2px blue;
    border-radius: 2rem;
    padding: 5px 0;
    cursor: pointer;
  }
}
